<div id="{{ post.id }}" class="blogpost">
	<div class="blogheader">
		<h1 class="blogtitle"><a href="{{ post.url }}">{{ post.title }}</a></h1>
		<h4 class="blogmeta">Posted on <span>{{ post.date | date: "%B %d, %Y" }}</span></h4>
		{% if post.categories != empty %}
		<h4 class="blogmeta">Filed under
		{% for category in post.categories %}
		<a href="/categories/{{ category }}.html">{{ category }}</a> 
		{% endfor %}
		</h4>
		{% endif %}
	</div>
	
	<div class="blogbody">
		{{ post.content }}
	</div>

	<div class="blogfooter">
		<p class="comments"><a href="{{ post.url }}/index.html#disqus_thread">Comments?</a></p>
	</div>
</div>
