<ul id="sidebarDesc" class="sidebar">
	<li id="rbm"><a href="/" title="redbluemagenta">redbluemagenta<span></span></a></li>
	<li id="cp">Christian "Ian" Paredes</li>
	<li id="cp">SAGE L2 System Administrator</li>
</ul>

<ul id="sidebarMenu" class="sidebar">
	<li><a href="/about.html">About</a></li>
	<li><a href="/blog.html">Blog</a></li>
	<li><a href="/photos.html">Photos</a></li>
	<li><a href="/resume.html">Resume</a></li>
	<li><a href="http://github.com/cparedes">GitHub</a></li>
</ul>

<form id="searchform" method="get" action="http://www.google.com/search">  
<a href="http://www.google.com/> 
<img src="http://www.google.com/logos/Logo_40wht.gif" border="0" alt="Google"></a>  
<input type="text" name="q" maxlength="255" />  
<input type="hidden" name="domains" value="*.redbluemagenta.com" />  
<input style="visibility:hidden" type="radio" name="sitesearch" value="*.redbluemagenta.com" checked="checked" />  
</form> 
