<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	{% include meta.html %}
	{% include googleanalytics.html %}
	{% include jquery.html %}
	{% include slimbox.html %}
</head>

<body>
	<div class="page">
		<div class="pageSidebar">
			{% include sidebar.html %}
		</div>

		<div class="pageBody">
			{% include body.html %}
			{% include footer.html %}
		</div>

<script type="text/javascript">
var disqus_shortname = 'redbluemagenta';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/redbluemagenta/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

</body>
</html>
